<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Servo">
        <activity
            android:name=".WorkerPendingActivity"
            android:exported="false" />

        <activity
            android:name=".ComplaintDetails"
            android:exported="false" />
        <activity
            android:name=".ComplaintActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".NewComplaint"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_new_complaint"-->
<!--            android:theme="@style/Theme.Servo.NoActionBar" />-->
        <activity
            android:name=".WorkerActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>